{% extends 'AhoraMadridMicrocreditosBundle::layout.html.twig' %}

{% block body %}
 <div class="main-container">       
 			<div id="page1">
                <div class="container">
                    <div class="row" style="margin-top: 4% " >                       
                        <div class="col-md-2 col-md-offset-5">
                        	<img src="{{ asset('bundles/ahoramadridmicrocreditos/images/ahoraMadrid_logo_blanco.png') }}" class="img-responsive" >
                        </div>
                    </div>
                    <div class="row" style="margin-top: 2%" >                       
                        <div class="col-md-8 col-md-offset-2">
                        	<h1>Microcréditos</h1>
                        </div>
                    </div>
                    <div class="row m1" style="margin-top:4% " >                       
                        <div class="col-md-8 col-md-offset-2">
                        	<p class="ubuntu"> 
                        		<strong>ahoraMadrid </strong> es una candidatura ciudadana para recuperar la ciudad de Madrid. Para poder financiarnos en el camino que nos queda hasta las elecciones no queremos depender del dinero que nos presten los bancos. Queremos depender de ti. Por eso necesitamos tu ayuda para contribuir a la campaña electoral independiente. 
                        		<br/>
								No te pedimos una donación sino un pequeño prestamo a recuperar tras las elecciones.
                        	</p>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 4%" > 
						<div class="col-md-8 col-md-offset-2">
                        	<p class="ubuntu"> 
                        		<small>
                        			Tenemos la mejor candidatura para cambiar Madrid. </br>
									¿Nos ayudas a que todos vecinos de la ciudad la conozcan?
								</small>
                        	</p>
                        	
                        </div>
                    </div>
                    <div class="row" style="margin-top:10px; text-align:center" > 
						<div class="col-md-8 col-md-offset-2">
							<a href="{{ path('formulario') }}" class="btn btn-default">¡Fináncianos!</a>
						</div>
					</div>
					<div class="row" style="margin-top:20px; text-align:center" > 
						<div class="col-md-8 col-md-offset-2">
							<a href="#page-faq" class="">¿Quieres saber más sobre los microcréditos? </br>
								<i class="fa fa-angle-double-down  fa-2x"></i>
							</a>
						</div>
					</div>
                </div>
             </div>  
             <div id="page-faq">
                <div class="container">
                    <div class="row" style="margin-top: 4% " >  
                    	<div class="col-md-10 col-md-offset-1">
                    		<h2> ¿Cómo funcionan los microcréditos? </h2>
                    		<img src="{{ asset('bundles/ahoramadridmicrocreditos/images/diagrama.png') }}" class="img-responsive">
                    	</div>
                    	<div class="col-md-8 col-md-offset-2">
                    		<h2> ¿Por qué necesitáis créditos ? </h2>
                    		<p> Según todas las encuestas <span class="ahora">ahoraMadrid </span>va conseguir una gran representación en las próximas elecciones al ayuntamiento de Madrid. Cada partido político tiene asignados una serie de fondos públicos en función de su representación. Nuestro problema es que para poder realizar una campaña electoral solvente necesitamos financiación antes de las elecciones. Por eso necesitamos tu ayuda para “adelantar” ese dinero sin tener que recurrir a prestamos bancarios
                    		</p>
                    	</div>
                    	<div class="col-md-8 col-md-offset-2">
                    		<h2> ¿Necesito realizar un pago por internet? </h2>
                    		<p> Según todas las encuestas <span class="ahora">ahoraMadrid </span>va conseguir una gran representación en las próximas elecciones al ayuntamiento de Madrid. Cada partido político tiene asignados una serie de fondos públicos en función de su representación. Nuestro problema es que para poder realizar una campaña electoral solvente necesitamos financiación antes de las elecciones. Por eso necesitamos tu ayuda para “adelantar” ese dinero sin tener que recurrir a prestamos bancarios
                    		</p>
                    	</div>
                    	<div class="col-md-8 col-md-offset-2">
                    		<h2> ¿Cuál es la garantía? </h2>
                    		<p> Explicar que la cuantía que se pide como prestamos está ajustada en base a las peores expectativas electorales
                    		</p>
                    	</div>
                    	<div class="col-md-6 col-md-offset-3">                    		
                    		<p style="margin-top:4em;"> <small>
                    				Tenemos la mejor candidatura para cambiar Madrid. <br/>
									¿Nos ayudas a que todos vecinos de la ciudad la conozcan?								
								</small>
								<br/>
								<br/>
								<a href="{{ path('formulario') }}" class="btn btn-default">¡Fináncianos!</a>
                    		</p>
                    	</div>
                 </div>
			</div>   
	<div id="footer">
		<div class="container">
			<div class="row">				
				<div class="col-md-2 col-sm-6 col-xs-12 wow fadeInUp animated animated" data-wow-duration="500ms" style="visibility: visible; -webkit-animation-duration: 500ms;">
					<div class="footer-single">
						<a href="http://ahoramadrid.org" target="blank"> 
							<img src="{{ asset('bundles/ahoramadridmicrocreditos/images/ahoraMadrid_logo_blanco.png') }}" alt="ahora madrid" class="img-responsive"> 
						</a>
					</div>							
				</div>					
				<div class="col-md-1">&nbsp;
				</div>				
				<div class="col-md-6 col-sm-6 col-xs-12">
					<div class="footer-single">
						<h6>#AhoraMadrid</h6>
						<p>una ciudad para acoger y donde quedarse</p>
						<p>Ahora Madrid - 2015 | hola@ahoramadrid.org<script cf-hash="f9e31" type="text/javascript">
						/* <![CDATA[ */!function(){try{var t="currentScript"in document?document.currentScript:function(){for(var t=document.getElementsByTagName("script"),e=t.length;e--;)if(t[e].getAttribute("cf-hash"))return t[e]}();if(t&&t.previousSibling){var e,r,n,i,c=t.previousSibling,a=c.getAttribute("data-cfemail");if(a){for(e="",r=parseInt(a.substr(0,2),16),n=2;a.length-n;n+=2)i=parseInt(a.substr(n,2),16)^r,e+=String.fromCharCode(i);e=document.createTextNode(e),c.parentNode.replaceChild(e,c)}}}catch(u){}}();/* ]]> */</script> | </p>
						

					</div>
				</div>

				<div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp animated animated" data-wow-duration="500ms" data-wow-delay="600ms" style="visibility: visible; -webkit-animation-duration: 500ms; -webkit-animation-delay: 600ms;">
					<div class="footer-single">
						<h4>&nbsp;</h4>

						<ul>
							<li><a href="https://www.facebook.com/pages/Ahora-Madrid/1589610151285730"><i class="fa fa-facebook-square"></i> facebook</a></li>
							<li><a href="https://twitter.com/AhoraMadrid"><i class="fa fa-twitter"></i> Twitter</a></li>
							<!--<li><a href="#">Google</a></li>
							<li><a href="#">Forum</a></li>-->
						</ul>
					</div>				
				</div>	
			</div>
		</div>
	</div>

</div>

	
{% endblock %}
