{% extends 'AhoraMadridMicrocreditosBundle::layout.html.twig' %}

{% block body %}
 <div class="main-container">       
 			<div id="page1">
                <div class="container">
                    <div class="row" style="margin-top: 4% " >                       
                        <div class="col-md-2 col-md-offset-5 col-xs-6 col-xs-offset-3">
                        <img src="{{ asset('bundles/ahoramadridmicrocreditos/images/ahoraMadrid_logo_blanco.png') }}" class="img-responsive">
                        </div>
                    </div>
                    <div class="row" style="margin-top: 2%" >                       
                        <div class="col-md-8 col-md-offset-2">
                        	<h1>Microcréditos</h1>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 4%" > 
						<div class="col-md-8 col-md-offset-2">
                        	<p class="ubuntu"> 
                        		<small>
                        			Tenemos la mejor candidatura para cambiar Madrid. </br>
									¿Nos ayudas a que todos los vecinos de la ciudad la conozcan?
								</small>
                        	</p>
                        	
                        </div>
                    </div>
                    <div class="row" style="margin-top:20px; text-align:center" > 
						<div class="col-md-8 col-md-offset-2">
							<a href="{{ path('formulario') }}" class="btn btn-default">¡Fináncianos!</a>
						</div>
					</div>
                    <div class="row m1" style="margin-top:8% " >                       
                        <div class="col-md-8 col-md-offset-2">
                        	<p class="ubuntu"> 
                        		<strong>Ahora Madrid </strong> es una candidatura ciudadana para recuperar la ciudad de Madrid. Para poder financiarnos en el camino que nos queda hasta las elecciones no queremos depender del dinero de los bancos. Preferimos depender de la gente que cree que las cosas pueden ser de otra manera. Por eso necesitamos tu ayuda para contribuir a una campaña electoral independiente.
                        		<br/>
								No te pedimos una donación sino un pequeño préstamo a recuperar tras las elecciones.
                        	</p>
                        </div>
                    </div>
       
					<div class="row" style="margin-top:100px; text-align:center" > 
						<div class="col-md-8 col-md-offset-2">
							<a href="#page-faq" class="">¿Quieres saber más sobre los microcréditos? </br>
								<i class="fa fa-angle-double-down  fa-2x"></i>
							</a>
						</div>
					</div>
                </div>
             </div>  
             <div id="page-faq">
                <div class="container">
                    <div class="row" style="margin-top: 4% " >  
                    	<div class="col-md-10 col-md-offset-1">
                    		<h2> ¿Cómo funcionan los microcréditos? </h2>
                    		
                    	</div>
                    </div>
                    <div class="row">	
                    	<div class="col-sm-12 col-md-10 col-md-offset-1">
	                    	<div class="col-sm-4 col-xs-12" style="margin-top: 5px ">
	                    		<img src="{{ asset('bundles/ahoramadridmicrocreditos/images/diagrama1.png') }}" class="img-responsive">
	                    	</div>
	                    	<div class="col-sm-4 col-xs-12" style="margin-top: 5px ">
	                    		<img src="{{ asset('bundles/ahoramadridmicrocreditos/images/diagrama2.png') }}" class="img-responsive">
	                    	</div>
	                    	<div class="col-sm-4 col-xs-12" style="margin-top: 5px ">
	                    		<img src="{{ asset('bundles/ahoramadridmicrocreditos/images/diagrama3.png') }}" class="img-responsive">
	                    	</div>
                    	</div>
                    </div>
                    	<div class="col-md-8 col-md-offset-2">
                    		<h2> ¿Por qué necesitamos créditos ? </h2>
                    		<p> Según todas las encuestas <span class="ahora">Ahora Madrid </span>va conseguir una gran representación en las próximas elecciones al Ayuntamiento de Madrid. Cada partido político tiene asignados una serie de fondos públicos en función de su representación. Nuestro problema es que para poder realizar una campaña electoral solvente necesitamos financiación antes de las elecciones. Por eso necesitamos tu ayuda para “adelantar” ese dinero sin tener que recurrir a préstamos bancarios
                    		</p>
                    	</div>
                    	<div class="col-md-8 col-md-offset-2">
                    		<h2> ¿Necesito realizar un pago por internet? </h2>
                    		<p>No, en esta web sólo registras tus datos personales previamente al pago. El ingreso real lo realizas por transferencia bancaria, de la forma en la que tú hagas normalmente tus operaciones bancarias
                    		</p>
                    	</div>
                    	<div class="col-md-8 col-md-offset-2">
                    		<h2> ¿Cuál es la garantía? </h2>
                    		<p> La devolución de los préstamos está garantizada por dos vías:  la cantidad máxima de microcréditos (150.000 €) se encuentra por debajo de los fondos públicos que se nos asignarán en estas elecciones, de acuerdo con las expectativas de voto.  En el caso de que que obtuviésemos un resultado inferior, dado que los salarios de los representantes públicos de Ahora Madrid están limitados, el excedente de estos salarios se destinará en primer lugar a la devolución de los microcréditos.
                    		</p>
                    	</div>
                    	<div class="col-md-6 col-md-offset-3">                    		
                    		<p style="margin-top:4em;"> <small>
                    				Tenemos la mejor candidatura para cambiar Madrid. <br/>
									¿Nos ayudas a que toda la ciudad la conozca?								
								</small>
								<br/>
								<br/>
								<a href="{{ path('formulario') }}" class="btn btn-default">¡Fináncianos!</a>
                    		</p>
                    	</div>
                 </div>
			</div>   
	

	
{% endblock %}
